.body {
    background: linear-gradient(180deg, #FFFBEB 0%, #FFFFFF 89.63%);
}

/* ====== Start Navbar ====== */
.navbar .container-fluid {
    padding: 1.5em 5em;
}

.navbar .container-fluid .navbar-brand {
    color: #78350F;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}


.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 1em;
    color: #78350F;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item .btn {
    height: 100%;
    border-radius: 8px;
    border: 2px solid var(--amber-900, #78350F);
    color: #78350F;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;
}

/* ====== End Navbar ====== */



/* ====== Start First Section  ====== */
.section-one {
    padding-top: 4.5rem;
}

.section-one .container .main-headline {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 110%;
    color: #0F172A;
    padding-bottom: 2rem;
    word-break: break-all;
}

.section-one .container .main-paragraph {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 160%;
    color: #0F172A;
    padding-bottom: 2rem;
    max-width: 45rem;
}

.section-one .container .main-buttons .btn {
    padding: 1rem;
    border-radius: 0.5rem;
    color: #78350F;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;
}

.section-one .container .main-buttons .first-button .btn {
    border: 2px solid var(--amber-900, #78350F);
    font-size: 1.25rem;
}

.section-one .container .main-buttons .second-button .btn {
    font-size: 1rem;
    margin-left: 1rem;
}

.section-one .container .image-content {
    position: relative;
    width: 22.9375rem;
    height: 23.25rem;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 3.125rem;
    background: var(--Amber-400, #FBBF24);
    margin-left: 5rem;
}

.section-one .container .image-content .figure {
    position: absolute;
    bottom: 2.19rem;
    flex-shrink: 0;
    max-width: 33.375rem;
    height: 100%;
}

.section-one .container .image-content .figure img {
    height: 100%;
    flex-shrink: 0;
}

/* ====== End First Section ====== */

/* ====== Start Second Section ====== */

.section-two {
    margin-top: 5rem;
}

.section-two .container .section-two-card .section-two-card-header {
    position: relative;
    top: 0;
    left: 0;
}

.section-two .container .section-two-card .section-two-card-header .header-icon {
    position: relative;
    top: 0;
    left: 0;
}

.section-two .container .section-two-card .section-two-card-header .header-rectangle {
    position: absolute;
    top: 0px;
    left: 30px;
    opacity: 0.5;
}

.section-two .container .section-two-card .section-two-card-header .card-ellipse {
    width: 45px;
    height: 45px;
    left: 40px;
    position: absolute;
    top: 0px;
    border-radius: 20px;
    opacity: 0.5 !important;
    background: #A21CAF;
}

.section-two .container .section-two-card .content .section-two-card-title {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 100%;
    color: var(--Blue-Gray-900, #0F172A);
}

.section-two .container .section-two-card .content .section-two-card-text {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 160%;
    color: var(--Blue-Gray-900, #0F172A);
}

/* ====== End Second Section ====== */

/* ====== Start Third Section ====== */

.section-three {
    margin-top: 5rem;
    position: relative;
    background: var(--blue-gray-900, #0F172A);
    border-color: var(--blue-gray-200, #E2E8F0);
    border-top: 1px solid var(--blue-gray-200, #E2E8F0);
    border-bottom: 1px solid var(--blue-gray-200, #E2E8F0);

}

.section-three .container {
    z-index: 1 !important;
}

.section-three .container .section-three-header {
    margin-top: 5rem;
}

.section-three .container .section-three-header .content h2 {
    font-weight: 800;
    line-height: 110%;
    font-size: 3.5rem;
    color: var(--White, #FFF);
}


.section-three .container .section-three-header .content .btn {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;
    padding: 1.25rem 1.5rem;
    border-radius: 0.5rem;
    color: var(--White, #FFF);
    border: 2px solid var(--amber-900, #FFF);

}

.section-three .container .section-three-card {
    z-index: 1;
}

.section-three .container .section-three-card .card .btn {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    letter-spacing: 0.03125rem;
    justify-content: center;
    color: var(--White, #FFF);
    border: 2px solid var(--amber-900, #FFF);
    margin: 2rem 1rem;
}

.section-three .container .section-three-card .card .card-body {
    padding: 1rem;
}

.section-three .backlights {
    margin-top: 5rem;
    position: absolute;
}

.rectangle-pink {
    position: absolute;
    margin-top: 16rem;
    margin-left: 5rem;
    width: 16.9375rem;
    height: 16.9375rem;

    border-radius: 3.125rem;
    opacity: 0.75;
    background: var(--pink-700, #BE185D);
}

.rectangle-blue {
    position: absolute;
    margin-top: 6rem;
    margin-left: 30rem;
    width: 10.0625rem;
    height: 10.0625rem;
    flex-shrink: 0;
    border-radius: 50px;
    opacity: 0.75;
    background: var(--blue-light-700, #0369A1);
}

.rectangle-orange {
    position: absolute;
    margin-top: 24rem;
    margin-left: 46rem;
    width: 8.125rem;
    height: 8.125rem;
    border-radius: 30px;
    opacity: 0.75;
    background: var(--amber-700, #B45309);
}

.rectangle-purple {
    position: absolute;
    margin-top: 24rem;
    margin-left: 60rem;
    width: 12.625rem;
    height: 12.625rem;
    border-radius: 30px;
    opacity: 0.75;
    background: var(--fuchsia-700, #A21CAF);
}

.rectangle-green {
    position: absolute;
    margin-top: 10rem;
    margin-left: 65rem;
    width: 14.5rem;
    height: 14.5rem;
    border-radius: 50px;
    opacity: 0.75;
    background: var(--green-700, #15803D);
}

.section-three .container .section-three-card .card {
    z-index: 1;
    border-radius: 10px;
    border: 1px solid var(--blue-gray-900, #0F172A);
    background: var(--blue-gray-900, #0F172A);
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07), 0px 25px 50px -12px rgba(255, 255, 255, 0.25);
}

.section-three .container .section-three-card .card button img {
    margin-right: 16px;
}


.section-three .container .section-three-card .card .card-body .card-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 110%;
    color: var(--white, #FFF);

}

.section-three .container .section-three-card .card .card-body .card-text {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 160%;
    color: var(--white, #FFF);
}

/* ====== End Third Section ====== */

/* ====== Start Fourth Section ====== */

.section-four {
    margin: 10rem 5rem;
}

.section-four .card {
    height: 31rem;
    border-radius: 1.875rem;
    background: var(--White, #FFF);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07), 0px 20px 25px -5px rgba(0, 0, 0, 0.10);
}

.section-four .card .card-body .card-title {
    margin-left: 5rem;
    margin-top: 6rem;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 110%;
    color: var(--Blue-Gray-900, #0F172A);
}

.section-four .card .card-body ul {
    list-style-type: none;
    padding: 0;
    margin-left: 5rem;
    margin-top: 1.5rem;
}

.section-four .card .card-body ul li {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 180%;
    color: var(--Blue-Gray-900, #0F172A);
}

.section-four .card .card-body ul li img {
    width: 2rem;
    height: 1.5rem;
}

.section-four .card .card-body button {
    margin-left: 5rem;
    margin-top: 1.5rem;
    font-size: 1.25rem;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;
    color: #78350F;
    border-radius: 0.5rem;
    border: 2px solid var(--amber-900, #78350F);
}

.section-four .card .card-body .deco-video {
    margin-top: 2rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section-four .card .card-body .deco-video .screen {
    width: 100%;
    height: 21.875rem;
    text-align: center;
    position: relative;
    z-index: 1;
    border-radius: 1.25rem;
    border: 5px solid var(--White, #FFF);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07), 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.section-four .card .card-body .deco-video .screen .browser-header {
    background-color: #ffffff;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-four .card .card-body .deco-video .screen .browser-controls {
    display: flex;
    align-items: center;
}

.section-four .card .card-body .deco-video .screen .browser-controls img {
    margin-right: 8px;
}

.section-four .card .card-body .deco-video .screen .img-fluid {
    width: 100%;
    height: 100%;
    /* margin-top: -1rem ; */
    object-fit: cover;
    border-radius: 0 0 1.25rem 1.25rem;
}

.shape-container {
    position: relative;
    z-index: 0
}

.shape {
    position: absolute;
    opacity: 0.75;
}

.shape.shape1 {
    width: 5.625rem;
    height: 5.625rem;
    top: -9rem;
    right: 36rem;
    background-color: #B45309;
    border-radius: 1.875rem;
}

.shape.shape2 {
    width: 41.64275rem;
    height: 13.62088rem;
    top: -6rem;
    right: -3rem;
    background-color: #FDE68A;
    transform: rotate(-45deg);
    opacity: 1;
}

.shape.shape3 {
    width: 5.3125rem;
    height: 5.375rem;
    top: 10rem;
    right: 24rem;
    background-color: #15803D;
    border-radius: 3.125rem;
    z-index: 1 !important;
}

.shape.shape4 {
    width: 4.625rem;
    height: 4.625rem;
    top: 10rem;
    right: 6rem;
    background-color: #A21CAF;
    border-radius: 1.875rem;
}

.shape.shape5 {
    width: 13.625rem;
    height: 13.625rem;
    top: 6rem;
    right: -5rem;
    background-color: #BE185D;
    border-radius: 3.125rem;
}

.shape.shape6 {
    width: 3.6875rem;
    height: 3.75rem;
    top: -16rem;
    right: 1rem;
    background-color: #0369A1;
    border-radius: 3.125rem;
}

/* ====== End Fourth Section ====== */

/* ====== Start Fifth Section  ====== */


/* ====== End Fifth Section  ====== */


@media screen and (max-width:768px) {

    .navbar .container-fluid {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }


    /* ====== Start First Section  ====== */
    .section-one {
        padding-top: 3rem;
    }

    .section-one .container .row {
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .section-one .container .main-headline {
        font-weight: 700;
        font-size: 3.5rem;
        word-break: break-word
    }

    .section-one .container .main-paragraph {
        font-size: 1.125rem;
        padding-bottom: 2rem;
    }

    .section-one .container .main-buttons {
        justify-content: space-between;
    }

    .section-one .container .main-buttons {
        width: 100%;
    }

    .section-one .container .main-buttons .second-button .btn {
        font-size: 1rem;
        word-break: break-all;
        margin-left: 1rem;
    }

    .section-one .container .image-content {
        width: 17.03794rem;
        height: 17.27006rem;
        margin: 4.37rem auto;

    }

    .section-one .container .image-content .figure {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 2.19rem;
        flex-shrink: 0;
        max-width: 33.375rem;
        height: 100%;
    }

    .section-one .container .image-content .figure img {
        padding: 0;
        height: 100%;
        flex-shrink: 0;
    }

    /* ====== End First Section  ====== */

    /* ====== Start Second Section  ====== */

    .section-two {
        margin-top: 3rem;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .section-two .container .section-two-card {
        margin-bottom: 2rem;
    }

    .section-two .container .section-two-card .section-two-card-header {
        position: relative;
        text-align: center;
    }

    .section-two .container .section-two-card .section-two-card-header .header-icon {
        position: relative;
        text-align: center;
    }

    .section-two .container .section-two-card .section-two-card-header .header-rectangle {
        position: relative;
        opacity: 0.5;
        margin-left: -75px;
        margin-top: -20px;
    }

    .section-two .container .section-two-card .section-two-card-header .card-ellipse {
        width: 45px;
        height: 45px;
        top: 0%;
        left: 52%;
        position: absolute;
        border-radius: 20px;
        opacity: 0.5 !important;
        background: #A21CAF;
    }

    .section-two .container .section-two-card .content .section-two-card-title {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 100%;
        color: var(--Blue-Gray-900, #0F172A);
    }

    .section-two .container .section-two-card .content .section-two-card-text {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 160%;
        word-break: keep-all;
        color: var(--Blue-Gray-900, #0F172A);
    }

    /* ====== End Second Section  ====== */

    /* ====== Start Third Section  ====== */

    .section-three .container .section-three-header .content {
        display: block !important;
        text-align: center;
    }

    .section-three .container .section-three-header .content h2 {
        font-size: 2rem;
    }

    .section-three .container .section-three-header .content .btn {
        margin-top: 2rem;
        padding: 1.25rem 1.5rem;
    }

    .section-three .container .section-three-card .card {
        margin-bottom: 2rem;
    }

    .rectangle-pink {
        margin-top: 29rem;
        margin-left: 2.28rem;
        width: 12.63088rem;
        height: 12.63088rem;
        border-radius: 3.125rem;
    }

    .rectangle-purple {
        margin-top: 74rem;
        margin-left: 0;
        width: 9.41488rem;
        height: 9.41488rem;
        border-radius: 1.875rem;
        opacity: 0.75;
        background: var(--fuchsia-700, #A21CAF);
    }

    .rectangle-green,
    .rectangle-orange,
    .rectangle-blue {
        display: none;
    }

    /* ====== End Third Section  ====== */

    /* ====== Start Fourth Section  ====== */
    .section-four {
        position: relative;
        margin: 2rem 2rem !important;
    }

    .section-four .card {
        padding: 0;
        border-radius: 1.875rem;
        background: var(--White, #FFF);
        box-shadow: none;
        height: auto;
    }

    .section-four .card .card-body .card-title {
        margin: 2rem 1rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
    }

    .section-four .card .card-body ul {
        list-style-type: none;
        padding: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1.5rem;
    }

    .section-four .card .card-body ul li {
        font-size: 1rem;
        line-height: 140%;
    }

    .section-four .card .card-body button {
        margin: 1.5rem auto;
        font-size: 1.25rem;
        padding: 1rem;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.03125rem;
        color: #78350F;
        border-radius: 0.5rem;
        border: 2px solid var(--amber-900, #78350F);
        position: relative;
        z-index: 1
    }

    .section-four .card .card-body .deco-video {
        height: auto;
    }

    .section-four .card .card-body .deco-video .screen {
        height: auto;
        margin-top: 0rem;
        margin-bottom: 2rem;
        position: relative;
        z-index: 1
    }

    .shape.shape1 {
        width: 3.47269rem;
        height: 3.47269rem;
        top: -9.5rem;
        right: 31rem;
        background-color: #B45309;
        border-radius: 1.875rem;
    }

    .shape.shape2 {
        width: 25.70881rem;
        height: 8.40906rem;
        top: -6rem;
        right: -3rem;
        background-color: #FDE68A;
        transform: rotate(-45deg);
        opacity: 1;
        z-index: 1
    }

    .shape.shape3 {
        width: 3.0625rem;
        height: 3.125rem;
        top: 5rem;
        right: 13.5rem;
        background-color: #15803D;
        border-radius: 3.125rem;
        z-index: 2
    }

    .shape.shape4 {
        width: 2.85531rem;
        height: 2.85531rem;
        top: 5rem;
        right: 4rem;
        background-color: #A21CAF;
        border-radius: 1.875rem;
    }

    .shape.shape5 {
        width: 8.41163rem;
        height: 8.41163rem;
        top: 2rem;
        right: -2.5rem;
        background-color: #BE185D;
        border-radius: 3.125rem;
    }

    .shape.shape6 {
        width: 2.27656rem;
        height: 2.31513rem;
        top: -11.5rem;
        right: -0.5rem;
        background-color: #0369A1;
        border-radius: 3.125rem;
        z-index: 2
    }

    /* ====== End Fourth Section  ====== */

    /* ====== Start Fifth Section  ====== */

    /* ====== End Fifth Section  ====== */

}